*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.student{
  width: 100%;
  height: auto;
  padding-block: 10px;
  padding-inline: 10px;
  border: 2px solid black;
}
.student p{
  margin-block: 10px;
}