@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.one-font{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 65px;
    color: #343030;
}

.btn-hero{
    transition: 0.2s;
    cursor: pointer;
}
.btn-hero:hover{
    transform: scale(1.006);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    will-change: contents;
}

.red-border{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}

.photo-section , .title-photo {
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 transition: 0.2s;
 cursor: pointer;
}
.photo-section:hover, .photo-section:hover .title-photo {
  box-shadow: rgba(0, 0, 0, 0.40) 0px 9px 14px;
     transform: scale(1.009);
     will-change: contents;
}
.title-photo{
    transition: 0.2s;
}
.title-photo:hover{
    background-color: #fcc40c;
}
.shoes{
    box-shadow: rgba(5, 5, 5, 0.2) 0px 8px 24px;
}
.footer-btn{
    transition: 0.2s;
    cursor: pointer;
}

.footer-btn:hover{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .one-font{
    line-height: 60px;
}

}














